ruamel.yaml==0.18.16
docling==2.64.0
rapidocr==3.4.2
onnxruntime==1.23.2
weaviate-client==4.18.1
markitdown[all]==0.1.0
langchain==1.1.0
langchain-core==1.1.0
langchain_community==0.4.1
langchain-openai==1.1.0
langchain-weaviate==0.0.6
langchain-text-splitters==1.0.0