embeddingModel:
  modelName: embeddinggemma-300m
  baseUrl: http://vllmCPU:<VLLM_PORT>
  apiKey: EMPTY

baseLlm:
  modelName: <VLLM_MODEL_NAME>
  baseUrl: http://vllmGPU:<VLLM_PORT>/v1
  apiKey: EMPTY
  sys_prompt: あなたは、ユーザが求めるタスクに対して簡潔に回答する、日本語を母国語としたAIシステムだ。

weaviate:
  host: weaviate
  httpPort: <WEAVIATE_HTTP_PORT>
  grpcPort: <WEAVIATE_GRPC_PORT>
  apiKey:
    <WEAVIATE_USER_1_KEY_NAME>: <WEAVIATE_USER_KEY_1>
    <WEAVIATE_USER_2_KEY_NAME>: <WEAVIATE_USER_KEY_2>

test:
  testKey1: 日本語テスト
  testKey2: TestValue